<div class="about-card">
  
  <img class="top-image" 
            src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?auto=format&fit=crop&w=1200&q=60" 
       alt="Friends group">
 <h1 class="about-title">About Us</h1>
<div class="Behind-title">
 <h2>Behind the Success</h2>
 </div>
  <div class="content-row">
        
        <p class="about-text">
    Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Iusto laudantium recusandae <br> sint dicta error exercitationem porro nisi cumque <br> nobis earum modi repellendus dolorem <br> consequatur assumenda <br> magnam, adipisci, numquam quia obcaecati.
    </p>

    <img class="side-avatar"
         src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?auto=format&fit=crop&w=500&q=60"
         alt="Person avatar">
  </div>
</div>
