<div class="banner">  
    <img src="https://media.istockphoto.com/id/1290864946/photo/e-learning-education-concept-learning-online.jpg?s=612x612&w=0&k=20&c=y1fQ-3wbsvdDaMn-cuHPibcgozOxKQS99mIgz6DFcVA=">
    <h1>Empower your future with Pracademy – High quality online coding classes</h1>
</div>
<div class="courses-container">

    <div class="course-card">
        <img src="https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_1280.jpg" alt="JavaScript">
        <div class="card-content">
            <h3>Complete Modern JavaScript Course</h3>
            <p>Learn JavaScript from basics to advanced concepts with hands-on projects.</p>
            <div class="price-rating">PRICE: $499.00 | RATINGS: 4.5</div>
            <div class="buttons">
                <button class="buy-btn">BUY NOW</button>
                <button class="detail-btn">DETAILS</button>
            </div>
        </div>
    </div>
 
    <div class="course-card">
<img src="https://t3.ftcdn.net/jpg/02/80/08/10/240_F_280081026_4TPD4AKJxCrGb127zv7hXOhmznOEvw0q.jpg" alt="Angular Course">

        <div class="card-content">
            <h3>A Complete Angular Course</h3>
            <p>Master Angular framework and build dynamic web applications efficiently.</p>
            <div class="price-rating">PRICE: $599.00 | RATINGS: 4.9</div>
            <div class="buttons">
                <button class="buy-btn">BUY NOW</button>
                <button class="detail-btn">DETAILS</button>
            </div>
        </div>
    </div>

    <div class="course-card">
    <img src="https://t3.ftcdn.net/jpg/02/80/08/10/240_F_280081026_4TPD4AKJxCrGb127zv7hXOhmznOEvw0q.jpg" alt="Angular Course">
    <div class="card-content">
        <h3>A Complete Angular Course</h3>
        <p>Master Angular framework and build dynamic web applications efficiently.</p>
        <div class="price-rating">PRICE: $599.00 | RATINGS: 4.9</div>
        <div class="buttons">
            <button class="buy-btn">BUY NOW</button>
            <button class="detail-btn">DETAILS</button>
        </div>
    </div>
</div>



    <div class="course-card">
        <img src="https://t3.ftcdn.net/jpg/02/80/08/10/240_F_280081026_4TPD4AKJxCrGb127zv7hXOhmznOEvw0q.jpg" alt="React">
        <div class="card-content">
            <h3>A Complete React Developer Course</h3>
            <p>Build modern web apps with React, hooks, Redux, and real-world projects.</p>
            <div class="price-rating">PRICE: $599.00 | RATINGS: 4.8</div>
            <div class="buttons">
                <button class="buy-btn">BUY NOW</button>
                <button class="detail-btn">DETAILS</button>
            </div>
        </div>
    </div>
</div>
