.contact-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: #f5f5f5;
  padding-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.contact-img-box {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.contact-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.desc{
    font-weight: bold;
}
.contact-img-box h1 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.contact-content {
  padding: 30px;
}

.desc {
  margin-bottom: 20px;
  color: #555;
  font-size: 15px;
  line-height: 22px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

textarea {
  height: 150px;
  resize: none;
}

.submit-btn {
  margin-top: 10px;
  background: lightseagreen;
  border: none;
  padding: 12px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 6px;
}

.submit-btn:hover {
  background: #45a049;
}
